html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

img {
  border-style: none;
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
li {
  list-style: none;
}

a,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  border: none;
  display: inline-block;
}

button:hover,
button:focus,
input:hover,
input:focus {
  outline: none;
}

p,
h1,
h2,
h3,
h4,
li,
ul {
  padding: 0;
  margin: 0 0;
}

h1 {
  margin: 1rem 0;
  color: #131057;
}
